.contentContainer {
    display: flex;
    flex-direction: column;
    height: 95%;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
}

.task {
    height: 9%;
    display: grid;
    grid-template-columns: 5% 45% 25% 15% 5% 5%;
}

.task:hover{
    cursor: pointer;
}

.taskMargin {
    height: 0.3%;
    background-color: rgb(168, 168, 168);
}

.priorityColor {
    height: 100%;
    width: 80%;
    background-color: blue;
    align-self: center;
}

.taskTitle {
    align-self: center;
}

.dueDate {
    align-self: center;
}

.prioritySet {
    align-self: center;
    z-index: 1;
}

.doneIcon {
    align-self: center;
    color: green;
}

.taskDone {
    width: 2rem;
    height: 2em;
    margin: 0px;
    display: grid;
    align-items: center;
    justify-items: center;
    border-radius: 1rem;
    align-self: center;
    z-index: 1;
}

.taskDone:hover {
    background-color: rgb(168, 168, 168);
    cursor: pointer;
}

.deleteTask {
    width: 2rem;
    height: 2em;
    margin: 0px;
    display: grid;
    align-items: center;
    justify-items: center;
    border-radius: 1rem;
    align-self: center;
    z-index: 1;
}

.deleteTask:hover {
    background-color: rgb(168, 168, 168);
    cursor: pointer;
}
.deleteIcon {
    align-self: center;
}